<!DOCTYPE html>

<head>
<title> The Best Palindrome Checker in the World! </title>
</head>

<div id="palindromeForm">
<form method="post" id="form_static" action="/result">
<label>Input: </label>
    <input id="palindrome" type="text" name="palindrome" placeholder="Enter input here">
    <button id="submitButton" type="submit">Submit</button>
</form>
</div>

<footer>
	<div class="down">
		This is made by Vignesh Sriram!
	</div>
</footer>