<!DOCTYPE html>

<head>
<title> The Palindrome Results! </title>
<script>
	document.title = "The Palindrome Results!"
</script>
</head>
<div class="palindromeResult">
    <p class={{testclass}}>{{palindrome}} {{res}}</p>
    <a href="/palindrome" id="try">try again</a>
</div>
<footer>
	<div class="down">
		This is made by Vignesh Sriram!
	</div>
</footer>