
<!DOCTYPE html>

<head>
<title> LoginPAge </title>
</head>

<form method="post" id="login-form" action="/login">
        <label> Username : </label>
        <input placeholder="username" class ="inputbox" name = "username"><br>
        <label> Password : </label>
        <input placeholder="password" class = "inputbox" type = "password" name = "password"> <br>

        <button class="btn-primary"> SUBMIT </button>


 </form>
 <p class="err">{{{err}}}</p>

 