<!DOCTYPE html>

<head>
<title> Private</title>
</head>

<main>
    <h1>{{{FirstName}}}  {{{LastName}}}</h1>

    <p>Profession : {{{Profession}}}</p>
    <p>Bio : {{{Bio}}}</p>
    <br>

    <form method="get" id="login-form" action="/logout">
    <button class="btn-primary"> logout </button>
    </form>
</main>